.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
test/**
images/*.svg
resources/*.svg
node_modules/**
!node_modules/@types/**
!node_modules/node-fetch/**
!node_modules/openai/**
.github/**
.vscodeignore
.npmrc
webpack.config.js
*.vsix
